.center {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    height: 100%;
    border: 3px solid black;
    padding: 10px 50px 10px 50px;
    text-align: center;

}

.form-group {
    display: flex;
    flex-direction: row;
    flex-flow: wrap
}

.word-input {
    font-family: Verdana;
    flex: 1 1 auto;
    display: block;
    margin: 10px;
    padding: 5px;
    border-style: solid;
    border-color: darkgray;
    border-left-color: black;
}

.submit-button {
    font-family: Verdana;
    font-size: 14pt;
    align-self: center;
    background-color: white;
    margin: 10px;
    padding: 5px;
    margin-top: 40px;
    width: 50%;
    border-style: solid;
    border-color: black;
    font-weight: bold;
}

.title {
    font-size: 60px;
    font-family: Verdana;
    font-weight: bold;
}

form {
    padding: 10px;
}

.link {
	font-family: Verdana;
	font-size: 12pt;
}
